@using DOAN.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

@{
    IEnumerable<SANPHAM> listSP = (IEnumerable<SANPHAM>)ViewBag.listSP;
}


<!-- Start Small Banner  -->
<section class="small-banner section">
    <div class="container-fluid mt-5 mb-4"><img src="@Url.Content("~/assets/client/hinhsp/danhmuc/text.jpg")" alt="#"></div>
    <div class="container container-fluid">
        <div class="row">
            <!-- Single Banner  -->
            <div class="col-lg-3 col-md-6 col-7">
                <div class="single-banner">
                    <img src="@Url.Content("~/assets/client/hinhsp/danhmuc/blank.jpg")" alt="#">
                    <div class="content">
                        <h3 style="color: #B41A44;">SKINCARE <br />WONDERS</h3>
                        <a href="#"><h6>Shop All</h6></a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-3 col-md-6 col-7">
                <div class="single-banner">
                    <img src="@Url.Content("~/assets/client/hinhsp/danhmuc/blank.jpg")" alt="#">
                    <div class="content">
                        <h3 style="color: #B41A44;">MAKEUP <br />WONDERS</h3>
                        <a href="#"><h6>Shop All</h6></a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-3 col-md-6 col-7">
                <div class="single-banner tab-height">
                    <img src="@Url.Content("~/assets/client/hinhsp/danhmuc/blank.jpg")" alt="#">
                    <div class="content">
                        <h3 style="color: #B41A44;">HAIRCARE <br />WONDERS</h3>
                        <a href="#"><h6>Shop All</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-7">
                <div class="single-banner tab-height">
                    <img src="@Url.Content("~/assets/client/hinhsp/danhmuc/blank.jpg")" alt="#">
                    <div class="content">
                        <h3 style="color: #B41A44;">BATH & BODY <br />WONDERS</h3>
                        <a href="#"><h6>Shop All</h6></a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
        </div>
    </div>
</section>
<!-- End Small Banner -->
<!-- Start Product Area -->
@Html.Action("FeaturedBrandsPartial", "Home")
<!-- End Product Area -->
<!-- Start Most Popular -->
@Html.Action("HotItemPartial", "Home")
<!-- End Most Popular Area -->
<!-- Start Shop Home List  -->

