
@{
    ViewBag.Title = "ThayDoiMatKhau";
    Layout = "~/Views/Shared/DetailLayout.cshtml";
}


<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="@Url.Action("Index","Home")">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="@Url.Action("ThongTinCaNhan","Home")">Account<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Change the password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container" style="min-height:700px">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <h3 style="display:block; border-bottom:3px solid #EB395F; width:42%;  margin-bottom:10px"><small>ACCOUNT</small></h3>
                    <a href="@Url.Action("ThongTinCaNhan","Home")"><div class="bthuong">Account information</div></a>
                    <a href="@Url.Action("ThongTinDonHang","Home")"><div class="bthuong"> Order management</div></a>
                    <a href="@Url.Action("ThayDoiMatKhau","Home")"><div class="hdong"> Change the password</div></a>
                    <a href="@Url.Action("DangXuat","Home")"><div class="bthuong">Sign out</div></a>
                    <!--/ End Single Widget -->
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-12 ml-5">
                @if (ViewBag.Error == -1)
                {
                    <div class="alert alert-success ">
                        Quá trình thực hiện thành công
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else if (ViewBag.Error == 1)
                {
                    <div class="alert alert-warning ">
                        Quá trình thực hiện thất bại
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else if (ViewBag.Error == 2)
                {
                    <div class="alert alert-warning ">
                        Mật khẩu xác nhận không khớp
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else if (ViewBag.Error == 3)
                {
                    <div class="alert alert-warning ">
                        Nhập mật khẩu không đúng
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="row">
                    <h4 style="margin-bottom:20px; margin-top:5px; border-left:5px solid #EB395F; padding:0px 3px 0px 5px"><small>CHANGE THE PASSWORD</small></h4>
                    <div class="col-12">

                        <!-- Comment Form -->
                        @using (Html.BeginForm("ThayDoiMatKhau", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Current password</label>
                                <div class="col-sm-9">
                                    <input name="matkhaucu" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">New password</label>
                                <div class="col-sm-9">
                                    <input name="matkhaumoi" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Retype new password</label>
                                <div class="col-sm-9">
                                    <input name="xacnhan" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn float-right">Save</button>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->
