@using DOAN.Models;
@model IEnumerable<HOADON>

@{
    ViewBag.Title = "ThongTinDonHang";
    Layout = "~/Views/Shared/DetailLayout.cshtml";
}

@section script{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

}


<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Shop Grid</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container" style="min-height:700px">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <h3 style="display:block; border-bottom:3px solid #EB395F; width:42%;  margin-bottom:10px"><small>ACCOUNT</small></h3>
                    <a href="@Url.Action("ThongTinCaNhan","Home")"><div class="bthuong">Account information</div></a>
                    <a href="@Url.Action("ThongTinDonHang","Home")"><div class="hdong"> Order management</div></a>
                    <a href="@Url.Action("ThayDoiMatKhau","Home")"><div class="bthuong"> Change the password</div></a>
                    <a href="@Url.Action("DangXuat","Home")"><div class="bthuong">Sign out</div></a>
                    <!--/ End Single Widget -->
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-12 ml-5">

                <div class="row">
                    <h4 style="margin-bottom:20px; margin-top:5px; border-left:5px solid #EB395F; padding:0px 3px 0px 5px"><small>MY ORDER</small></h4>
                    <div class="col-12">
                        @if (ViewBag.SL == 0)
                        {
                            <div class="callout callout-info">
                                <h5>No orders yet</h5>

                            </div>
                        }
                        else
                        {
                            <table id="example1" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Order Date</th>
                                        <th>Total Cost</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row1_@item.IdHD">
                                            <td>
                                                <a href="@Url.Action("ChiTietDonHang","Home",new {id=item.IdHD})" style="color:#0069D9">
                                                    @Html.DisplayFor(modelItem => item.IdHD)
                                                </a>

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NgayDH)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TongTien)
                                            </td>
                                            <td>
                                                @if (item.TinhTrang == 4)
                                                {
                                                    <span>Unconfimred</span>
                                                }
                                                else if (item.TinhTrang == 5)
                                                {
                                                    <span>Confimred</span>
                                                }
                                                else if (item.TinhTrang == 6)
                                                {
                                                    <span>Cancel</span>
                                                }
                                                else if (item.TinhTrang == 7)
                                                {
                                                    <span>
                                                        Is picking up the goods
                                                    </span>
                                                }
                                                else if (item.TinhTrang == 8)
                                                {
                                                    <span>
                                                        Being deliveried
                                                    </span>
                                                }
                                                else if (item.TinhTrang == 9)
                                                {
                                                    <span>Successful delivery</span>
                                                }
                                                else if (item.TinhTrang == 11)
                                                {
                                                    <span>Delivery failed</span>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->
